{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "it": "readonly",
    "document": "readonly",
    "window": "readonly"
  }
}